<div class="container-fluid container-fluid-dtl">
      <div class="container">
        <div class="row row-dtl">
          <div class="col-sm-12 col-md-12 col-xs-12 col-dtl">
            <div class="breadcrumb-share">
              <div class="breadcrumb-dtl">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container container-gallery">
        <div class="row row-gallery">
        {infographic}
          <div class="col-sm-4 col-md-4 col-xs-6 col-gallery heightsame">
              <div class="frame-slider-choice list-gallery">
                <div class="thumb-slider-choice">
                  <a href="{url}/detail/{event_url}">{event_img}</a>
                </div>
                <div class="title-news-slider-choice">
                  <a href="{url}/detail/{event_url}">{event_name}</a>
                </div>
              </div>            
          </div>
        {/infographic}
        </div>
      </div>
    </div>