<!-- banner top -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 p0">
      <div class="banner-top responsive-banner">
        {banner_top}
      </div>
    </div>
  </div>
</div>
<!-- heading  -->
<div class="container-fluid cf-grey4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="title-pagination">{page_name}</div>
      </div>
    </div>
  </div>
</div>
<!-- content -->
<div class="container-fluid cf-content">
  <div class="container">
    <div class="row">
      <!-- breadcumb -->
      {breadcrumb_frontend}
      <!-- <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="breadcrumb-page">
          <ol class="breadcrumb">
            {news_breadcrumb}
          </ol>
        </div>
      </div> -->

      <div class="col-sm-12 col-md-12 col-xs-12 pt30 pb50">
        <div class="media media-content">
          <div class="media-body">
            <div class="frame-content">
              <!-- content -->
             <div class="title-comdet title-year {dsp_year}">{news_year}</div>
              <div class="title-comdet">{news_title}</div>
              {share}
              <div class="date-articles {dsp_news_teaser} mb5"><span>{news_teaser}</span></div>
              <div class="date-articles mb15"><span>{news_date}<!-- November 8, 2017 --> </span>{news_writer}<!--  By Jet Damazo-Santos --></div>
                  
                <!-- {slider_photo} -->
                  <!-- <div class="{is_photo} mb20"> -->
                    <!-- {slider_photo_img} -->
                  <!-- </div> -->
                <!-- {/slider_photo} -->

              <!-- <div class="slider-index si-artdei {is_video}">{video}</div> -->
                {page_content}
                 <!-- <div class="{invis_download}"> -->
                  <!-- <br> -->
                  <!--<button class="btn btn-default" id="{idx}" d-title="news" onclick="download_file(this)">Download File</button>-->
                  <!-- <a class="btn btn-danger btn-lg" id="{idx}" d-title="news" onclick="download_file(this)"><span></span>  DOWNLOAD FILE</a> -->
                <!-- </div> -->
                {imagelist}
            </div>
          </div>
          <!-- sidebar -->
          <div class="media-right">
            {widget_sidebar}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{modal_imagelist}