<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 p0">
      <div class="banner-top responsive-banner">
        {banner_top}
      </div>
    </div>
  </div>
</div>
<div class="container-fluid cf-grey4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="title-pagination">{page_heading}</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid cf-content">
  <div class="container">
    <div class="row">
      {breadcrumb_frontend}
      <div class="col-sm-12 col-md-12 col-xs-12 pt50 pb50">
        <div class="media media-content">
          <div class="media-body">
            <div class="frame-content">
              {news}
              <div class="list-reports">
                <div class="media media-latest">
                  <div class="media-left">
                    <div class="thumbnail-amcham thumb-reports">{news_img}</div>
                  </div>
                  <div class="media-body">
                    <div class="widget-white">
                      <div class="event-type ">{news_category}  <!-- |  {news_date} --></div> <!-- Sep 29, 2017 -->
                      <!-- <a href="{news_url}" class="btn-red link-reports">See More</a> -->
                      {button}
                      <!-- <a class="tangan btn-red link-reports {invis_download}" id="{idx}" d-title="news" onclick="download_file(this)">  DOWNLOAD</a> -->
                      <!-- <a class="btn btn-danger btn-lg" id="{idx}" d-title="news" onclick="download_file(this)"><span></span>  DOWNLOAD FILE</a> -->
                      <hr class="line-content mt15">
                      <!-- <div class="title-event-list"><a href="{news_url}">{news_title}</a></div> -->
                      <div class="title-event-list">{news_title}</div>
                      <p>{news_teaser}</p>
                    </div>
                  </div>
                </div>
              </div>
              {/news}
                 
              <div class="text-center mt15 {dsp_load_more}"><span href="{base_url}{lang}/news/more/{uri_path}/{paging}" class="load-more tangan">{lang_load_more}</span></div>
           </div>
         </div>
         <div class="media-right">
          {widget_sidebar}
        </div>
      </div>
    </div>
  </div>
</div>
</div>