    <!-- <div><strong>{tags}</strong><div> -->
<div class="container-fluid container-fluid-dtl">
      <div class="container">
        <div class="row row-dtl">
          <div class="col-sm-12 col-md-12 col-xs-12 col-dtl">
            <div class="breadcrumb-share">
              <div class="breadcrumb-dtl">
                <ol class="breadcrumb">
                  <li class="active">Tags : {tags}</li>
                </ol>
              </div> 
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-xs-12 col-dtl">
            <div class="decs-dtl"> 
                <!-- <div class="searchresult">{lang_topic}: "{tags}"</div>  -->
              <div class="list-search">
                {list_news}
                    <div class="list-search-ft"> 
                        <h3 class="title-ft-src"><a href="{url}/detail/{uri_path_detail}">{news_title}</a></h3>
                		<p>{teaser}</p>
                	</div>
                {/list_news}
                <div class="text-center">
                  <!-- <button class="btn-readmore">{paging}</button> -->
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
 