{data}
	<tr>
		<td class="center">{nomor}</td>
		<td class="teaser" style="max-width:125px;" title="{namadepan}">{namadepan}</td>
		<td class="teaser" style="max-width:125px;" title="{namabelakang}">{namabelakang}</td>
		<td>{email}</td>
		<td>{activity}</td>
		<td class="teaser" style="max-width:125px;" title="{create_date}">{create_date}</td>
		<td class="teaser" style="max-width:125px;" title="{create_time}">{create_time}</td>
		<td class="teaser" style="max-width:150px;" title="{ipaddress}">{ipaddress}</td>
		<td class="teaser" style="max-width:150px;" title="{ismobile}">{ismobile}</td>
	</tr>
{/data}
<tr class="footer">
	<td colspan="10">{paging}</td>
</tr>