<div class="row-fluid">
	<span class='col-sm-4 judul'>Company Management</span>
	<div class='col-sm-8 text-right'>
        <button class="btn btn-primary insert" type="button" value="Add Career" onclick="open_form()"><i class="fa fa-plus"></i> Add Company</button>
    	<button class="btn btn-danger delete" type="button" value="Delete Selected Row" onclick="delete_selected_grid('gridData','{this_controller}delete_selected')">
            <i class="fa fa-trash-o"></i> Delete Selected Row
        </button>
    </div>
    <br><br>
</div>

<table id="gridData"></table>
<div id="pgridData"></div>

<form name="form1" id="form1" method="post" class="invis">
	<table>
		<tr>
			<td colspan="2"><div id="message"></div></td>
		</tr>
		<tr>
			<td>Company</td>
			<td><input type="text" class="frm validate[required]" name="name" id="name" maxlength='64'></td>
		</tr>
		<tr>
			<td>Contact Name</td>
			<td><input type="text" class="frm validate[required]" name="contact_name" id="contact_name" maxlength='64'></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" class="frm validate[required|custom[email]]" name="email" id="email" maxlength='64'></td>
		</tr>
		<tr>
			<td>Phone</td>
			<td><input type="text" class="frm validate[]" name="phone" id="phone" maxlength='64'></td>
		</tr>
		<tr>
			<td>Deskripsi</td>
                        <td><textarea class="frm validate[]" name="description" id="description" rows="4" cols="50"></textarea></td>
		</tr>
		<tr>
			<td colspan="2">
				<br><br>
				<button type="button" value="Simpan" id="save" class="btn btn-primary insert"><i class="fa fa-save"></i> Save</button>
				<button type="button" onclick='tutup()' class="btn btn-warning"><i class="icon-ban-circle"></i> Cancel</button>
				<input type="hidden" name="idedit" id="idedit">
			</td>
		</tr>
	</table>
</form>
<script>
function open_form(title){
	jPopup('form1',500);
    title = (title) ? title : 'Add Company';
    $('#form1').dialog('option', 'title', title);
}
function tutup(){
   $('#form1').dialog('close');
	clear_form_elements('#form1');
	$('#view_delete').hide();
	$('#save').html(saveBtn);
	jQuery('#form1').validationEngine('hide')
}
jQuery("#gridData").jqGrid({
	url			: '{base_url}apps/company/index/?q=1',
	datatype	: "json",
	height		: 150,
	colNames	: ['id','','','Company','Contact Name','Email','Phone','Deskripsi'],
	rowNum		: 25,
	rowList		: [25,50,100],
	pager		: '#pgridData',
	sortname	: 'id',
	sortorder	: "desc",
	multiselect	: true,
	rownumbers	: true,
	autowidth	: true,
	colModel	: [
					{name:'id',index:'id',hidden:true},
					{name:'edit',index:'edit', width:30,align:'center',search:false},
					{name:'delete',index:'delete',align:'center', width:30,search:false},
					{name:'name',index:'name', width:350},
					{name:'contact_name',index:'contact_name', width:350},
					{name:'email',index:'email', width:350},
					{name:'phone',index:'phone', width:350},
					{name:'description',index:'description', width:350},
				  ],
});

$('#save').click(function(){
    var val = $(this).html();
    if(val != loadingBtn){
        if( $("#form1").validationEngine('validate') == true){
            $.ajax({
                url			: '{this_controller}proses/'+$('#idedit').val(),
                type        : "POST",
                data        : $('#form1').serialize(),
                beforeSend  : function(){$('#save').html(loadingBtn)},
                success     : function(msg){
                                if(msg.substring(1,0)=='1'){
                                    jQuery('#gridData').jqGrid('setGridParam',{}).trigger('reloadGrid');
                                    jInfo(msg.substring(1));
                                    $('#form1').dialog('close');
                                    clear_form_elements('#form1');
                                }
                                else{
                                    jAlert(msg.substring(1))
                                }
                                $('#save').html(saveBtn);
                              }
            });
        }
    }
})
function edit(idedit){
	ret = jQuery("#gridData").jqGrid('getRowData',idedit);
	$('#name').val(ret.name);
	$('#contact_name').val(ret.contact_name);
	$('#email').val(ret.email);
	$('#phone').val(ret.phone);
	$('#description').val(ret.description);
	$('#save').html(updateBtn);
	$('#idedit').val(idedit);
	open_form('Edit Company');
}
</script>