<div class="row-fluid">
	<div class="judul col-sm-6">{judul} Pages </div>
	<div class="col-sm-6 text-right">
		<a class="btn btn-primary insert update" id='save'><i class="fa fa-save"></i> {proses}</a>
		<a class="btn btn-warning" href='{this_controller}'><i class="fa fa-arrow-left"></i> Back</a>
	</div>
</div>
<hr>
<form action='{this_controller}proses/{id}' id='form1'>
	<div class='row-fluid'>
		<div class='col-sm-2'>Page Name <i class='req'>*</i></div>
		<div class="col-sm-8"><input type="text" value="{page_name}" id="title" class='col-sm-12' name="page_name"></div>
	</div>
	<div class='row-fluid'>
		<div class='col-sm-2'>Page URL <i class='req'>*</i></div>
		<div class="col-sm-8"><input type="text" value="{uri_path}" id="uri_path" class='col-sm-12' name="uri_path"></div>
	</div>
	<div class='row-fluid'>
		<div class='col-sm-2'>Image</div>
		<div class="col-sm-8">{img}</div>
	</div>


	<div class='row-fluid'>
		<div class='col-sm-2'>Teaser <i class='req'>*</i></div>
		<div class="col-sm-8"><textarea name="teaser" rows="4" id="teaser" class="col-sm-12">{teaser}</textarea></div>
	</div>
	<div class='row-fluid'>
		<div class='col-sm-2'>Content<i class='req'>*</i></div>
		<div class="col-sm-8"><textarea  rows="4" id="page_content" class="col-sm-12 ckeditor">{page_content}</textarea></div>
	</div>
</form> 

{imagemanager_config}
