<div class='col-md-12'>
	<div class='col-md-3 col-sm-3'>Kategori</div>
	<div class="col-md-9 col-sm-9">: {category}</div>
</div>
<div class='col-md-12'>
	<div class='col-md-3 col-sm-3'>Judul</div>
	<div class="col-md-9 col-sm-9">: {title}</div>
</div>
<div class='col-md-12'>
	<div class='col-md-3 col-sm-3'>Nama</div>
	<div class="col-md-9 col-sm-9">: {fullname}</div>
</div>
<div class='col-md-12'>
	<div class='col-md-3 col-sm-3'>Email</div>
	<div class="col-md-9 col-sm-9">: {email}</div>
</div>
<div class='col-md-12'>
	<div class='col-md-3 col-sm-3'>Komentar</div>
	<div class="col-md-9 col-sm-9">: {commentar}</div>
</div> 
