<p style="line-height:20.7999992370605px;"><span style="font-size:14px;">Dear {name},</span></p>

<p style="line-height:20.7999992370605px;">&nbsp;</p>

<p style="line-height:20.7999992370605px;">Thanks for contact us on {date} :&nbsp;</p>

<p style="line-height:20.7999992370605px;"><em><strong>{question}</strong></em></p>

<p style="line-height:20.7999992370605px;">&nbsp;</p>

<p style="line-height:20.7999992370605px;">This our response:&nbsp;</p>

<p style="line-height:20.7999992370605px;">{content}</p>

<p style="line-height:20.7999992370605px;">&nbsp;</p>

<p style="line-height:20.7999992370605px;">Regards,</p>

<p style="line-height:20.7999992370605px;">AmCham</p>
