<p>Dear {name},</p>

<p>&nbsp;</p>

<p>Thank you for your payment for {event_name}, {event_date} .</p>

<p>&nbsp;</p>

<p>If you wish to cancel, you may send a cancelation e-mail to functions@amcham.or.id by the latest noon (12:00) on {before_event_date}&nbsp;</p>

<p>&nbsp;</p>

<p>We look forward to seeing you on {event_date} !&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>Kind Regards,&nbsp;</p>

<p>&nbsp;</p>

<p>Functions Team</p>

<p>AmCham Indonesia &nbsp;</p>

<p>WeWork Revenue Tower, level 25, District 8, SCBD, Jl Jend. Sudirman No. 52-53, Senayan, Jakarta Selatan 12190</p>

<p>Phone:  62 21 5064 5071</p>

<p>www.amcham.or.id</p>
