<p>Dear {name},</p>

<p>Thank you for registering for "{event_name}".</p>

<p>This your invoice number : {invoice_number}.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td>Name</td>
			<td>Price</td>
		</tr>
		<tr>
			<td>{name_price}</td>
			<td>{price}</td>
		</tr>
		<tr>
			<td>Grand Total</td>
			<td>{grand_total}</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>Please transfer to one of the following accounts:</p>

<p>{bank_page_content}</p>

<p>Please be informed that we must receive the payment in full, &nbsp;any handling charge will be borne by the participants.</p>

<p>Please email confirmation payment to functions@amcham.or.id or confirm by clicking the button below.</p>

<p>&nbsp;</p>

<p><a href="{link}" style="width:200px;font-size:14px;text-transform:uppercase;color:#fff;text-decoration:none;padding:10px 70px;background:#84c44a;border-bottom:5px solid #66ab28;margin:10px auto;">Payment Confirmation</a></p>

<p>&nbsp;</p>

<p>Cancellation must be in writing via e-mail to functions@amcham.or.id by the latest noon (12:00) on {before_event_date2}&nbsp;</p>

<p>Please be advised that &#39;no-shows&#39; may be billed at full price</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>Kind Regards,&nbsp;</p>

<p>&nbsp;</p>

<p>Functions Team</p>

<p>AmCham Indonesia &nbsp;</p>

<p>WeWork Revenue Tower, level 25, District 8, SCBD, Jl Jend. Sudirman No. 52-53, Senayan, Jakarta Selatan 12190</p>

<p>Phone: 62 21 5064 5071</p>

<p>www.amcham.or.id</p>

<p>Please do not reply to this email.</p>
