<p>Dear,<br />
Your registered member will expired at {expired_date}</p>

<p>Detail Member :</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td colspan="2">Personal info :</td>
		</tr>
		<tr>
			<td>name</td>
			<td>{name}</td>
		</tr>
		<tr>
			<td>Job</td>
			<td>{job}</td>
		</tr>
		<tr>
			<td>citizenship</td>
			<td>{citizenship}</td>
		</tr>
		<tr>
			<td>Linked ID</td>
			<td>{linkedin_id}</td>
		</tr>
		<tr>
			<td>email</td>
			<td>{email}</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td colspan="2">Company Info :</td>
		</tr>
		<tr>
			<td>Company Name in Indonesia</td>
			<td>{name_out}</td>
		</tr>
		<tr>
			<td>International/Affiliate Name (USA/Overseas)</td>
			<td>{name_in}</td>
		</tr>
		<tr>
			<td>Company Address</td>
			<td>{company_address}</td>
		</tr>
		<tr>
			<td>City</td>
			<td>{city}</td>
		</tr>
		<tr>
			<td>Postal Code</td>
			<td>{postal}</td>
		</tr>
		<tr>
			<td>Company Headquarters (country / state)</td>
			<td>{headquarters}</td>
		</tr>
		<tr>
			<td>Website</td>
			<td>{website}</td>
		</tr>
		<tr>
			<td>E-Mail address</td>
			<td>{company_email}</td>
		</tr>
		<tr>
			<td>Telephone number</td>
			<td>{t_number}</td>
		</tr>
		<tr>
			<td>Mobile Number</td>
			<td>{m_number}</td>
		</tr>
	</tbody>
</table>

<p><br />
Please renew your membership here<br />
&nbsp;</p>

<p><a href="{link}" style="width:200px;font-size:14px;text-transform:uppercase;color:#fff;text-decoration:none;padding:10px 70px;background:#84c44a;border-bottom:5px solid #66ab28;margin:10px auto;">LOGIN</a></p>

<p><br />
&nbsp;</p>

<p>Regards,</p>

<p>Amcham Indonesia</p>
