<p>Hello {name},</p>

<p>Thank you&nbsp;for registering AmCham Membership.</p>

<p>Please see your invoice in the attached file and once you have paid your invoice please confirm&nbsp;by clicking the button below.</p>

<p>&nbsp;</p>

<p><a href="{link}" style="width:200px;font-size:14px;text-transform:uppercase;color:#fff;text-decoration:none;padding:10px 70px;background:#84c44a;border-bottom:5px solid #66ab28;margin:10px auto;">Payment Confirmation</a></p>

<p>&nbsp;</p>

<p>If you have any question please contact our&nbsp;office at 526-2860 M-F 08:00 - 17:00 or email us at membership@amcham.or.id for assistance.</p>

<p>Regards,</p>

<p>Amcham Indonesia</p>
