<p>Dear Admin,</p>

<p>Member has send&nbsp;payment confirmation for membership.</p>

<p>Detail Member :</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td>Member Name&nbsp;</td>
			<td>:</td>
			<td>{name}</td>
		</tr>
		<tr>
			<td>Invoice Number</td>
			<td>:</td>
			<td>{invoice_number}</td>
		</tr>
		<tr>
			<td>Notes&nbsp;</td>
			<td>:</td>
			<td>{notes}</td>
		</tr>
		<tr>
			<td>User Id&nbsp;</td>
			<td>:</td>
			<td>{user_id}</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><a href="{link}" style="width:200px;font-size:14px;text-transform:uppercase;color:#fff;text-decoration:none;padding:10px 70px;background:#84c44a;border-bottom:5px solid #66ab28;margin:10px auto;">Login&nbsp;</a></p>

<p>&nbsp;</p>

<p>Regards,</p>

<p>&nbsp;</p>

<p>AmCham Indonesia</p>
