<p>Dear {name},</p>

<p>Thanks you for registering as&nbsp; a member of AmCham Indonesia.<br />
This your&nbsp;invoice number : {invoice_number}.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td>Name</td>
			<td>Price</td>
		</tr>
		<tr>
			<td>{name_price}</td>
			<td>{price}</td>
		</tr>
		<tr>
			<td>Grand Total</td>
			<td>{grand_total}</td>
		</tr>
	</tbody>
</table>

<p>Please transfer to one of the following accounts:</p>

<p>{bank_page_content}</p>

<p>Please be informed that we must receive the payment in full, &nbsp;any handling charge will be borne by the participants.</p>

<p>Please email confirmation payment to membership@amcham.or.id or confirm by clicking the button below.</p>

<p>&nbsp;</p>

<p><a href="{link}" style="width:200px;font-size:14px;text-transform:uppercase;color:#fff;text-decoration:none;padding:10px 70px;background:#84c44a;border-bottom:5px solid #66ab28;margin:10px auto;">Payment Confirmation</a></p>

<p>&nbsp;</p>

<p>Thank you once again for your kind attention and support<br />
If you&nbsp;have any questions or require a soft copy of your invoice in pdf or jpg format, please do not hestitate to contact us by email at membership@amcham.or.id</p>

<p>Regards,</p>

<p><br />
AmCham Indonesia</p>

<p>Do not reply to this email.</p>
