<p>Hello Admin,</p>

<p>There is a new&nbsp;member registration request for <strong>{category}&nbsp; </strong> member.</p>

<p>Below is information detail.</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td colspan="2">Personal Info :</td>
		</tr>
		<tr>
			<td>Full Name</td>
			<td>{name}</td>
		</tr>
		<tr>
			<td>Job Title</td>
			<td>{job}</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>{email}</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td colspan="2">Company Info :</td>
		</tr>
		<tr>
			<td>Company Name</td>
			<td>{name_in}</td>
		</tr>
		<tr>
			<td>Company Address</td>
			<td>{company_address}</td>
		</tr>
		<tr>
			<td>City</td>
			<td>{city}</td>
		</tr>
		<tr>
			<td>Postal Code</td>
			<td>{postal}</td>
		</tr>
		<tr>
			<td>Company Headquarters (Country / State)</td>
			<td>{headquarters}</td>
		</tr>
		<tr>
			<td>Website</td>
			<td>{website}</td>
		</tr>
		<tr>
			<td>Telephone Number</td>
			<td>{t_number}</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><a href="{link}" style="width:200px;font-size:14px;text-transform:uppercase;color:#fff;text-decoration:none;padding:10px 70px;background:#84c44a;border-bottom:5px solid #66ab28;margin:10px auto;">See&nbsp;Detail&nbsp;</a></p>

<p>&nbsp;</p>

<p>Regards,</p>

<p>AmCham Indonesia</p>
