<p>Thank you for registering to {event_name}, {event_date}&nbsp;</p>

<p>Payment by cash, debit or credit card can be done at the door; official receipt is provided.</p>

<p>If you wish to pay please contact the AmCham Indonesia office at functions@amcham.or.id and we will send you a link within 1 business day.</p>

<p>Venue:</p>

<p>{event_place}</p>

<p>Cancellation must be in writing via e-mail to functions@amcham.or.id by noon (12:00) on {before_event_date}&nbsp;Please be advised that &#39;no-shows&#39; may be billed at full price</p>

<p>=========================================================</p>

<p>KONFIRMASI PENDAFTARAN</p>

<p>Terimakasih telah melakukan pendaftaran untuk acara {event_name_2}, {event_date_2}&nbsp;</p>

<p>Pembayaran tunai, debit atau kredit dapat dilakukan di pintu masuk; kwitansi resmi akan disediakan.</p>

<p>Jika anda ingin melakukan pembayaran online silakan hubungi AmCham Indonesia melalui functions@amcham.or.id dan kami akan kirimkan link dalam 1 hari kerja.</p>

<p>Lokasi :</p>

<p>{event_place_2}</p>

<p><br />
Pembatalan pendaftaran harus dilakukan secara tertulis melalui e-mail ke functions@amcham.or.id paling lambat jam 12:00 WIB pada hari {before_event_date_2}. Ketidakhadiran peserta tanpa informasi pembatalan harus melakukan pembayaran secara penuh.</p>
