<h1 class="page-header">{page_name}</h1>
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
		<!-- begin panel -->
		<div class="panel panel-inverse" data-sortable-id="index-1">
			<div class="panel-heading">
			    <div class="panel-heading-btn">
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
			    </div>
			    <h4 class="panel-title">Manage Topic</h4>
			</div>
			<div class="panel-body">
				<div class="col-sm-12 col-lg-12 col-md-12">
					<div class="row-fluid">
						<div class="col-sm-12 text-right">
							<a class="btn btn-primary insert update {disable_edit} tangan" id='save'><i class="fa fa-save"></i> {proses}</a>
							<a class="btn btn-warning tangan" href='{this_controller}'><i class="fa fa-arrow-left"></i> Back</a>
						</div>
					</div>
					<div class="clear-fix">&nbsp;</div>
					<div class="col-sm-12 col-lg-9 col-md-12">
						<form action='{this_controller}proses/{id}' id='form1' class="form-horizontal">
							<div class="form-group  no-margin">
								<label class="col-md-3 control-label">Name <i class='req'>*</i></label>
								<div class="col-md-9"><input type="text" data-parsley-required="true" value="{name}" id="email" class='col-sm-12' name="name"></div>
							</div>
							<div class="form-group  no-margin">
								<label class="col-md-3 control-label">Language <i class='req'>*</i></label>
								<div class="col-md-9"><select id="id_lang" class='form-control' name="id_lang" data-parsley-required="true">{list_language}</select></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
