<!-- banner top -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 p0">
      <div class="banner-top responsive-banner">
        {banner_top}
      </div>
    </div>
  </div>
</div>
<!-- heading  -->
<div class="container-fluid cf-grey4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="title-pagination">{page_name}</div>
      </div>
    </div>
  </div>
</div>
<!-- content -->
<div class="container-fluid cf-content">
  <div class="container">
    <div class="row">
      <!-- breadcumb -->
      {breadcrumb_frontend}

      <div class="col-sm-12 col-md-12 col-xs-12 pt30 pb50">
        <div class="media media-content">
          <div class="media-body">
            <div class="frame-content">
              <!-- content -->
              <div class="title-comdet">{name}</div>
              <div class="date-articles"><span>{date}<!-- November 8, 2017 --> </span>{user_publish}<!--  By Jet Damazo-Santos --></div>
              {share}
              {description}

              <p>For opportunity for additional visibility please contact: <a href="mailto:functions@amcham.or.id" target="__blank">functions@amcham.or.id</a></p>
              
              {imagelist}
            </div>
          </div>
          <!-- sidebar -->
          <div class="media-right">
            {widget_sidebar}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{modal_imagelist}