<div class="container-fluid container-fluid-dtl">
      <div class="container">
        <div class="row row-dtl">
          <div class="col-sm-12 col-md-12 col-xs-12 col-dtl">
            <div class="breadcrumb-share">
              <div class="breadcrumb-dtl">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container container-gallery">
        <div class="row row-gallery">
        {gallery}
          <div class="col-sm-4 col-md-4 col-xs-6 col-gallery heightsame">
              <div class="frame-slider-choice list-gallery">
                <div class="thumb-slider-choice">
                  <a href="{base_url}{lang}/gallery/detailinfographic/{uri_path}"><img src="{base_url}images/article/small/{img}"></a>
                </div>
                <div class="title-news-slider-choice">
                  <a href="{base_url}{lang}/gallery/detailinfographic/{uri_path}">{name}</a>
                </div>
              </div>            
          </div>
        {/gallery}
        </div>
      </div>
    </div>