<h1 class="page-header">{page_name}</h1>
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
		<!-- begin panel -->
		<div class="panel panel-inverse" data-sortable-id="index-1">
			<div class="panel-heading">
			    <div class="panel-heading-btn">
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
			    </div>
			    <h4 class="panel-title">{judul} News I3</h4>
			</div>
			<div class="panel-body">
				<div class="col-sm-12 col-lg-12 col-md-12">
					<div class="row-fluid">
						<div class="col-sm-12 text-right">
							<a class="btn btn-primary insert update {disable_edit} tangan" id='save'><i class="fa fa-save"></i> {proses}</a>
							<a class="btn btn-warning tangan" href='{this_controller}'><i class="fa fa-arrow-left"></i> Back</a>
						</div>
					</div>
					<div class="clear-fix">&nbsp;</div>
					<div class="col-sm-12 col-lg-9 col-md-12">
						<form action='{this_controller}proses/{id}' id='form1'  class="form-horizontal">
							<div class="form-group  no-margin">
								<label class="col-md-3 control-label">Title<i class='req'>*</i></label>
								<div class="col-md-9"><input type="text" value="{title}" id="title" data-parsley-required="true" class='form-control' name="title"></div>
							</div>
							<div class="form-group  no-margin">
								<label class="col-md-3 control-label">URL News</label>
								<div class="col-md-9"><input type="text" value="{url}" id="url" class='form-control' name="url"></div>
							</div>
							<div class="form-group  no-margin">
								<label class="col-md-3 control-label">Image <i class='req'>*</i></label>
								<div class="col-md-9">{img}</div>
							</div>
							<div class="form-group  no-margin">
								<label class="col-md-3 control-label">Publish Date</label>
								<div class="col-md-9">
									<div class="input-group date datepicker" data-date-format="dd-mm-yyyy">
										<input type="text" value="{publish_date}" id="publish_date" class='form-control' name="publish_date" readonly="readonly">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
							    </div>
							</div>
							<div class="form-group  no-margin">
								<label class="col-md-3 control-label">Teaser News<i class='req'>*</i></label>
								<div class="col-md-9"><textarea  rows="4" id="teaser" class="form-control" name="teaser" data-parsley-required="true">{teaser}</textarea></div>
							</div>
							<!-- <div class="form-group  no-margin">
								<label class="col-md-3 control-label">Content News<i class='req'>*</i></label>
								<div class="col-md-9"><textarea  rows="4" id="content" class="form-control ckeditor" name="content" data-parsley-required="true">{content}</textarea></div>
							</div -->
							<div class="form-group  no-margin">
								<label class="col-md-3 control-label">Category News <i class='req'>*</i></label>
								<div class="col-md-9"><select id="id_category" class='form-control' name="id_category" data-parsley-required="true">{list_category}</select></div>
							</div>
							<div class="form-group  no-margin">
								<label class="col-md-3 control-label">Status <i class='req'>*</i></label>
								<div class="col-md-9"><select id="id_status_publish" class='form-control' name="id_status_publish" data-parsley-required="true">{list_status_publish}</select></div>
							</div>
							<div class="form-group  no-margin">
								<label class="col-md-3 control-label">Content<i class='req'>*</i></label>
								<div class="col-md-9"><textarea  rows="4" id="page_content" name="page_content" data-parsley-required="true" class="form-control ckeditor">{page_content}</textarea></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{imagemanager_config}