{data}
	<tr>
		<td class="center">{nomor}</td>
		<!--td>{category_name}</td-->
		<td>{name}</td>
		<!-- <td>{name_e}</td> -->
		<td>{listtags}</td>
		<td>{status}</td>
		<td class="center">
			<a href="{this_controller}add/{id}" title="Edit Data" class="fa fa-pencil-square-o tangan action-form-icon"></a>
			<a title="Delete Data" class="fa fa-trash-o tangan hapus action-form-icon" id='{id}' data-url-rm='del'></a>
			<!--<a href="{this_controller}view/{id}" title="View Detail" class="fa fa-search action-form-icon {dsp_video}"></a>-->
		</td>
		
	</tr>
{/data}
<tr class="footer">
	<td colspan="10">{paging}</td>
</tr>