<section class="maps-contact">
  <div class="desc">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.663679524008!2d107.14831531485494!3d-6.307840595434856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e699b62a1290fd7%3A0x17e82a6c8d132a7!2sPT%20Mursmedic%20Jaya%20Mandiri!5e0!3m2!1sid!2sid!4v1646024668408!5m2!1sid!2sid" style="border:0;height: 100%;width:100%" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>

<section class="list-mursmedic">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="listmur-child row">
          <div class="d-flex align-items-center col-md-4 h-100">
            <div class="card wow fadeInUp w-100" data-wow-duration="1.5s">
              <div class="card-body text-center">
                <img src="images/Icon/location-alt.svg" alt="" width="36" class="img-blue">
                <h3>ADDRESS</h3>
                <p>Jl. Industri Selatan 5, Blok FF1/J, Jababeka Bekasi, Jawa Barat</p>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center col-md-4 h-100">
            <div class="card wow fadeInUp w-100" data-wow-duration="2s">
              <div class="card-body text-center">
                <img src="images/Icon/phone-call.svg" alt="" width="36" class="img-blue">
                <h3>CALL US</h3>
                <p>+6221 29078970<br>+6221 29078971</p>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center col-md-4 h-100">
            <div class="card wow fadeInUp w-100" data-wow-duration="2.5s">
              <div class="card-body text-center">
                <img src="images/Icon/paper-plane.svg" alt="" width="36" class="img-blue">
                <h3>EMAIL US</h3>
                <p>nfo@mursmedic.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="form-contact">
  <div class="container">
    <h2 class="text-center wow fadeInUp mb-3"><b>Get in touch</b></h2>
    <div class="text-center wow fadeInUp mb-5"><span class="w-50 d-inline-block">Come on, start contacting us quickly and easily</div>
    <div class="row row-fc">
      <div class="col-md-6 mb-5 col-fc wow fadeInUp">
        <label for="">NAME</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-md-6 mb-5 col-fc wow fadeInUp">
        <label for="">EMAIL</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-md-6 mb-5 col-fc wow fadeInUp">
        <label for="">SUBJECT</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-md-6 mb-5 col-fc wow fadeInUp">
        <label for="">PHONE NUMBER</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-md-12 mb-5 col-fc wow fadeInUp">
        <label for="">MESSAGE</label>
        <textarea class="form-control" rows="5"></textarea>
      </div>
      <div class="col-md-12 mb-5 col-fc text-center wow fadeInUp">
        <button class="btn btn-blue m-auto px-5">SEND MESSAGE</button>
      </div>
    </div>
  </div>
</section>

<section class="need-urgent">
  <div class="container text-center">
    <h3 class="wow fadeInUp">Need Urgent Advice?</h3>
    <p class="wow fadeInUp">By joining our member area, you will get many special services & many other interesting offers.</p>
    <div class="text-center">
      <div class="d-inline-flex btn-nu">
        <a href="#" class="btn btn-yellow-outline wow fadeInLeft">
          <i>Call for Assistance</i>
          <i>+6221 29078970</i>
        </a>
        <span class="wow fadeInUp">or</span>
        <a href="#" class="btn btn-yellow wow fadeInRight">JOIN CLIENT AREA</a>
      </div>
    </div>
  </div>
</section>