<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 p0">
      <div class="banner-top responsive-banner">
        {banner_top}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid cf-grey4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="title-pagination">{page_name}</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid cf-content">
  <div class="container">
    <div class="row">
      <div class="{hide_breadcrumb}">
        {breadcrumb_frontend}
      </div>
      
      <div class="col-sm-12 col-md-12 col-xs-12 pt50 pb50">
        <div class="media media-content">
          <div class="media-body">
            <div class="frame-content">
              {page_content}
            </div>
          </div>
          <div class="media-right">
            {widget_sidebar}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>