<div class="row-fluid"> 
	<div class='col-sm-6 judul'>Detail Indikator</div>
	<span class='col-sm-6'>
		<div class='text-right'>
			<a class="btn btn-warning" href="{this_controller}view/{id_ref_logframe}"><i class="fa fa-arrow-left"></i> Kembali ke Detail Logframe</a>
		</div>
	</span>
</div>
<hr>
<div class='row-fluid'>
	<div class='col-sm-2'>Indikator</div>
	<div class="col-sm-10">: <strong>{indikator}</strong></div> 
</div>
<div class='row-fluid'>
	<div class='col-sm-2'>Baseline</div>
	<div class="col-sm-10">: <strong>{baseline}</strong></div> 
</div>
<div class='row-fluid'>
	<div class='col-sm-2'>Milestone1 Date</div>
	<div class="col-sm-10">: <strong>{tgl_milestone1}</strong></div> 
</div>
<div class='row-fluid'>
	<div class='col-sm-2'>Milestone1</div>
	<div class="col-sm-10">: <strong>{milestone1}</strong></div> 
</div>
<div class='row-fluid'>
	<div class='col-sm-2'>Milestone2 Date</div>
	<div class="col-sm-10">: <strong>{tgl_milestone2}</strong></div> 
</div>
<div class='row-fluid'>
	<div class='col-sm-2'>Milestone2</div>
	<div class="col-sm-10">: <strong>{milestone2}</strong></div> 
</div>
<div class='row-fluid'>
	<div class='col-sm-2'>Milestone3 Date</div>
	<div class="col-sm-10">: <strong>{tgl_milestone3}</strong></div> 
</div>
<div class='row-fluid'>
	<div class='col-sm-2'>Milestone3</div>
	<div class="col-sm-10">: <strong>{milestone3}</strong></div> 
</div>
<div class='row-fluid'>
	<div class='col-sm-2'>Target</div>
	<div class="col-sm-10">: <strong>{target}</strong></div> 
</div>
<div class='row-fluid'>
	<div class='col-sm-2'>Posisi Urutan Tampilan</div>
	<div class="col-sm-10">: <strong>{urutan}</strong></div> 
</div>
