<!-- The template to display files available for upload -->
<script>
$(document).on("click", ".open-ImagesDialog", function () {
	var myBookId = $(this).data('id');
	$("#idModal").val(myBookId);
});

<!-- Progress Bar -->
function progressBar(idLang, idImag){
	var elem = document.getElementById("myBar" + idLang + idImag); 	    
    var width = 10;
    var id = setInterval(frame, 10);
    function frame() {
        if (width >= 100) {
            clearInterval(id);
        } else {
        	width++; 
    		elem.width = width + '%'; 
    		document.getElementById('statusImag' + idLang + idImag).value;
    		document.getElementById('btnImag' + idLang + idImag).innerHTML = "Update";
        	document.getElementById("label" + idLang + idImag).innerHTML = width * 1 + '%';
        }
    }
}
<!-- End Progress Bar -->

<!-- Save Data -->
function saveOne(idLang, idImag, getJml, value) {

	var star_getJml = getJml;

	if ( idImag == 0 ){
		
		if (value == 0){
		var b = parseInt(idImag);
		} else {
		var b = star_getJml;
		}
	} else {

		if (value == 0){
			// alert(1);
			var b = star_getJml;
		} else {

			var b = parseInt(idImag);
			var statusImag = document.getElementById('statusImag'+ idLang + b).value;
			
			if (statusImag .length == 0){
				// alert('dsdsds');
			}


			
		}
	}
	
	var inp = document.getElementById('uploadImages' + idLang);
	if(idLang == 0){
		getJml = parseInt(jmlImagesSaved0);
	} else{
		getJml = parseInt(jmlImagesSaved1);
	}

	var jmlImages = 0;
	if((getJml != 0 || getJml != '') && inp.files.length != 0){
		idImagNew = idImag + getJml;
	} else{
		idImagNew = idImag;
	}

	
	var statusImag = document.getElementById('statusImag'+ idLang + b).value;



	var tag_image = $('#tag-image'+value).map(function(){
      return $(this).val();
    }).get();
    
  


    
	var nameImag = document.getElementById('nameImag' + idLang + b).value;
	var descImag = document.getElementById('descImag' + idLang + b).value;
	var id_lang = document.getElementById('id_lang' + idLang).value;
	var id_gallery = document.getElementById('id_gallery' + idLang).value;
	var idSavedImag = document.getElementById('idSavedImag' + idLang + b).value;

	var formData = new FormData();
    //for each entry, add to formdata to later access via $_FILES["file" + i]
    // console.log(JSON.parse(tag_image));
    formData.append("tag_image", tag_image);
  	formData.append("file", inp.files.item(idImag));
  	formData.append("statusImag", statusImag);
  	formData.append("nameImag", nameImag);
  	formData.append("descImag", descImag);
  	formData.append("id_lang", id_lang);
  	formData.append("idSavedImag", idSavedImag);
  	formData.append("id_gallery", id_gallery);
  	formData.append("key", idLang);

    //send formdata to server-side
    $.ajax({
        url: "{this_controller}uploadImages/{id}", // our php file
        type: 'post',
        data: formData,
        dataType: 'html', // we return html from our php file
        async: true,
        processData: false,  // tell jQuery not to process the data
        contentType: false,   // tell jQuery not to set contentType
        success : function(data) {
        	var obj = JSON.parse(data);
    		if(obj.status == true){
    			document.getElementById('idSavedImag' + idLang + star_getJml).value = obj.idSavedImag;
        		document.getElementById('imageSaved' + idLang).innerHTML = obj.reloadImages;
        		document.getElementById('myBar' + idLang + star_getJml).setAttribute("style","width:1%");
        		progressBar(idLang, star_getJml);
        	}
        },
        error : function(request) {
            console.log(request.responseText);
        },
        complete:function(){
            document.getElementById('imagePreview' + idLang).innerHTML = '';
            eval($('#imageSaved0').find('script').text());
        }
    }); 
}
function saveAll(idLang, getJml) {
	$('.dataimgupload').click();
}
// function saveAll(idLang, getJml) {
// 	if(idLang == 0){
// 		getJml = jmlImagesSaved0;
// 	} else{
// 		getJml = jmlImagesSaved1;
// 	}


// 	var filenyaa = '';
// 	var statusImag = '';
// 	var nameImag = '';
// 	var descImag = '';
// 	var id_lang = '';
// 	var idSavedImag = '';
// 	var id_gallery = '';
// 	var tag_image = '';
// 	var jmlAll = $('.myBar').length;

// 	for (var i = 1; i < jmlAll; i++) {

// 		var inp = document.getElementById('fileOld1');
		
// 		if((getJml != 0 || getJml != '') && i >= getJml){
// 			iNew = i - getJml;
// 		} else{
// 			iNew = i;
// 		}

// 		tag_image = $('#tag-image'+i).map(function(){
// 	      return $(this).val();
// 	    }).get();

// 	    var inp = document.getElementById('fileOld1');
		
		
// 		statusImag = document.getElementById('statusImag' + idLang + i).value;
// 		nameImag = document.getElementById('nameImag' + idLang + i).value;
// 		descImag = document.getElementById('descImag' + idLang + i).value;
// 		id_lang = document.getElementById('id_lang' + idLang).value;
// 		id_gallery = document.getElementById('id_gallery' + idLang).value;
// 		idSavedImag = document.getElementById('idSavedImag' + idLang + i).value;

// 		var formData = new FormData();
// 	    //for each entry, add to formdata to later access via $_FILES["file" + i]
// 	    // if(i >= getJml){
// 	    // 	console.log('statusIi'+i);
// 	  		// formData.append("file", filenya.files.item(i));
// 	  		formData.append("file", inp.files.item(i));
// 	  	// }
// 	  	// console.log(iNew);
// 	  	formData.append("imag", i);
//   		formData.append("statusImag", statusImag);
// 	  	formData.append("nameImag", nameImag);
// 	  	formData.append("descImag", descImag);
//   		formData.append("id_lang", id_lang);
//   		formData.append("idSavedImag", idSavedImag);
//   		formData.append("id_gallery", id_gallery);
//   		formData.append("key", idLang);
//   		formData.append("tag_image", tag_image);

// 	    //send formdata to server-side
// 	    $.ajax({
// 	        url: "{this_controller}uploadImages/{id}", // our php file
// 	        type: 'post',
// 	        data: formData,
// 	        dataType: 'html', // we return html from our php file
// 	        async: true,
// 	        processData: false,  // tell jQuery not to process the data
// 	        contentType: false,   // tell jQuery not to set contentType
// 	        success : function(data) {
// 	        	var obj = JSON.parse(data);
//         		if(obj.status == true){
// 	        		// document.getElementById('idSavedImag' + idLang + obj.idImag).value = obj.idSavedImag;
//         			document.getElementById('myBar' + idLang + obj.idImag).setAttribute("style","width:1%");
// 	        		progressBar(idLang, i);
// 	        		document.getElementById('imageSaved' + idLang).innerHTML = obj.reloadImages;
// 	        		eval($('#idSavedImag' + idLang + obj.idImag).parent().parent().find('script').text());
// 	        	}
// 	        },
// 	        error : function(request) {
// 	            console.log(request.responseText);
// 	        },
// 	        complete:function(){
// 	            document.getElementById('imagePreview' + idLang).innerHTML = '';
// 	        }
// 	    }); 
// 	}
// }
<!-- End Save Data -->

<!-- Delete Data -->
function deleteOne(idLang, idImag, getJml, filename) {
	var inp = document.getElementById('uploadImages' + idLang);

	var jmlImages = 0;
	if((getJml != 0 || getJml != '') && inp.files.length != 0){
		idImagNew = idImag + getJml;
	} else{
		idImagNew = idImag;
	}

	// return false;
	console.log('statusImag' + idLang + idImag);
	var statusImag = document.getElementById('statusImag' + idLang + idImag).value;
	var statusImag = document.getElementById('statusImag' + idLang + idImag).value;
	var idSavedImag = document.getElementById('idSavedImag' + idLang + idImag).value;
	var id_gallery = document.getElementById('id_gallery' + idLang).value;

	var formData = new FormData();
    //for each entry, add to formdata to later access via $_FILES["file" + i]
    if(filename != 0){
    	formData.append("filename", filename);
    } else{
    	formData.append("filename", inp.files.item(idImag).name);
    }
  	formData.append("statusImag", statusImag);
  	formData.append("idSavedImag", idSavedImag);
  	formData.append("id_gallery", id_gallery);
  	formData.append("key", idLang);

  	if(statusImag == 1){
  		// alert(1);
	    //send formdata to server-side
	    $.ajax({
	        url: "{this_controller}deleteImages", // our php file
	        type: 'post',
	        data: formData,
	        dataType: 'html', // we return html from our php file
	        async: true,
	        processData: false,  // tell jQuery not to process the data
	        contentType: false,   // tell jQuery not to set contentType
	        success : function(data) {
	        	var obj = JSON.parse(data);
	        	if(obj.status == true){
	        		document.getElementById('imag' + idLang + idImag).remove();

					var number_awal = $('#number').val();
					var number_new = parseInt(number_awal)-1;
					$('#number').val(number_new);
	        	}
	        },
	        error : function(request) {
	            console.log(request.responseText);
	        },
	        complete:function(){
	            document.getElementById('imagePreview' + idLang).innerHTML = '';
	        }
	    }); 
	} else{
		// alert(2);
		document.getElementById('imag' + idLang + idImag).remove();
	}
}

function deleteAll(idLang, getJml) {
	var inp = document.getElementById('uploadImages' + idLang);
	var idSavedImag = '';
	var filename = '';
	var statusImag = '';
	var jmlAll = parseInt(inp.files.length) + parseInt(getJml);
	var id_gallery = '';

	for (var i = 0; i < jmlAll; i++) {
		if((getJml != 0 || getJml != '') && i >= getJml){
			iNew = i - getJml;
		} else{
			iNew = i;
		}
		
		idSavedImag = document.getElementById('idSavedImag' + idLang + i).value;
		statusImag = document.getElementById('statusImag' + idLang + i).value;
		id_gallery = document.getElementById('id_gallery' + idLang).value;

		var formData = new FormData();
	    //for each entry, add to formdata to later access via $_FILES["file" + i]
	    if((getJml != 0 || getJml != '') && i >= getJml){
	    	formData.append("filename", inp.files.item(iNew).name);
	    } else{
	    	filename = document.getElementById('filename' + idLang + i).value;
	    	formData.append("filename", filename);
	    }
	  	formData.append("imag", i);
	  	formData.append("idSavedImag", idSavedImag);
  		formData.append("id_gallery", id_gallery);
  		formData.append("key", idLang);

  		if(statusImag == 1){
		    //send formdata to server-side
		    $.ajax({
		        url: "{this_controller}deleteImages", // our php file
		        type: 'post',
		        data: formData,
		        dataType: 'html', // we return html from our php file
		        async: true,
		        processData: false,  // tell jQuery not to process the data
		        contentType: false,   // tell jQuery not to set contentType
		        success : function(data) {
		        	var obj = JSON.parse(data);
		        	if(obj.status == true){
		        		//document.getElementById('imag' + idLang + obj.idImag).remove();
		        		document.getElementById('imageSaved' + idLang).innerHTML = obj.reloadImages;
		        	}
		        },
		        error : function(request) {
		            console.log(request.responseText);
		        },
		        complete:function(){
		            document.getElementById('imagePreview' + idLang).innerHTML = '';
		        }
		    }); 
		} else{
			document.getElementById('imag' + idLang + i).remove();
		}

		eval($('#idSavedImag' + idLang).parent().parent().find('script').text());
	}
}
<!-- End Delete Data -->
</script>