{data}
	<tr>
		<td class="center">{nomor}</td>
		<td class="teaser" style="max-width:125px;" title="{topic}">{category}</td>
		<td class="teaser" style="max-width:125px;" title="{fullname}">{title}</td>
		<td class="teaser" style="max-width:125px;" title="{namadepan}">{namadepan}</td>
		<td class="teaser" style="max-width:125px;" title="{namabelakang}">{namabelakang}</td>
		<td class="teaser" style="max-width:125px;" title="{email}">{email}</td>
		<td class="teaser" style="max-width:125px;" title="{question_descr}">{question_descr}</td>
		<td class="teaser" style="max-width:125px;" title="{create_date}">{create_date}</td>
		<td class="teaser" style="max-width:125px;" title="{answer_descr}">{answer_descr}</td>
		<td class="center">
			<a  title="View Detail" class="tangan fa fa-search detail-hubungi-kami action-form-icon" data-id="{id}"></a>
		</td>
		
	</tr>
{/data}
<tr class="footer">
	<td colspan="10">{paging}</td>
</tr>