{data}
	<tr>
		<td class="center">{nomor}</td>
		<td><div class="teaser" style="max-width:250px" title="{nama}">{nama}</div></td>
		<td><div class="teaser" style="width:120px;" title="{email}">{email}</div></td>
		<td class="center">{mobile}</td>
		<td class="center">{name_city}</td>
		<td>{create_date}</td>
		<td class="center">
			<a href="{this_controller}add/{id}" title="Edit Data" class="fa fa-pencil-square-o tangan"></a>
			<a title="Delete Data" class="fa fa-trash-o tangan hapus" id='{id}' data-url-rm='del'></a>
		</td>
	</tr>
{/data}
<tr class="footer">
	<td colspan="10">{paging}</td>
</tr>