<!-- banner top -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 p0">
      <div class="banner-top responsive-banner">
        {banner_top}
      </div>
    </div>
  </div>
</div>
<!-- heading  -->
<div class="container-fluid cf-grey4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="title-pagination">{page_name}</div>
      </div>
    </div>
  </div>
</div>
<!-- content -->
<div class="container-fluid cf-content">
  <div class="container">
    <div class="row">
      <!-- breadcumb -->
      {breadcrumb_frontend}

      <div class="col-sm-12 col-md-12 col-xs-12 pt30 pb50">
        <div class="media media-content">
          <div class="media-body">
            <div class="frame-content">
              <!-- content -->
              <div class="title-comdet">{news_title}</div>
              <div class="date-articles mb30"><span>{news_date}<!-- November 8, 2017 --> </span>{user_publish}<!--  By Jet Damazo-Santos --></div>
              <!-- {share} -->

              <div class="slider-index si-artdei {dsp_detail_image}">
              <div class="owl-carousel owl-theme" id="slider-index">
                  {detail_image}
                  <div class="item">
                    {detail_image_img}
                    <!-- <img src="images/slider.jpg"> -->
                    <div class="feature-number">
                      {detail_image_description}
                    </div>
                  </div>
                  {/detail_image}
                </div>
              </div>
              {page_content}
              {imagelist}
              <div class="{dsp_gallery}">
                <hr class="line-amcham">
              </div>
              {sponsor}
              <div class="{is_past_event}">
                <div class="media media-events-dtl">
                  <div class="media-left media-middle">
                    <img src="{base_url}/asset/images/clock-dtl.png">
                  </div>
                  <div class="media-body media-middle">
                    <div class="title-event-list">{event_date} 
                      <!-- November 4, 2017 -->
                    </div>
                    <p>{event_time}
                      <!-- Saturday, 18:00 - 20:30 -->
                    </p>
                  </div>
                </div> 
                <div class="media media-events-dtl">
                  <div class="media-left media-middle">
                    <img src="{base_url}/asset/images/maps-dtl.png">
                  </div>
                  <div class="media-body media-middle">
                    <div class="title-event-list">{location_name}</div>
                    <p>{location_address}</p>
                    <!-- Jl. Jendral Sudirman Kav. 10-11, Central Jakarta City, Jakarta 10220  -->
                  </div>
                </div>
                <div class="media media-events-dtl {dsp_price}">
                  <div class="media-left media-middle">
                    <img src="{base_url}/asset/images/prize-dtl.png">
                  </div>
                  <div class="media-body media-middle">
                    <div class="title-event-list">Price</div>
                    <p>{event_price}</p>
                </div>
                </div>
               {join_event}
              </div>

              <a href="event/index/annual-golf-turnament" class="btn-red btn-grey-direct mt50 {is_upcoming_event}">Back to List</a>
            </div>
          </div>
              <!-- sidebar -->
          <div class="media-right">
            {widget_sidebar}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{modal_event_register}
{modal_imagelist}