<!-- modal register -->
<div class="modal fade fade-events" id="myModalNotMember" tabindex="-1" role="dialog" aria-labelledby="myModalNotMemberLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="text-center">
          <div class="media logo">
            <div class="media-left media-middle"><img src="{base_url}asset/images/logo.png"></div>
            <div class="media-body media-middle">
              <span>AMCHAM INDONESIA</span>
              <i>MJM<br>SINCE 1971</i>
            </div>
          </div>
        </div>
        <hr class="line-content line-white">
        <div class="grey-widget mb15">
          <div class="title-event-list">Yes, I want to be part of AmCham Indonesia </div>
          <a class="btn-red btn-link-price mt15" href="{base_url_lang}/member/#member-join">JOIN</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>