<div class="container-fluid container-fluid-reli">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-12">
        <div class="title-reli">{lang_related}</div>
      </div>
      <div class="col-sm-12 col-md-12 col-xs-12">
        <div id="slider-choice">
          {related}
          <div class="item">
            <div class="frame-slider-choice rel-i-frame">
              <div class="title-slider-choice"><a href="{related_url}">{related_title}</a></div>
                <div class="thumb-slider-choice"><a href="{related_url}">{related_img}</a></div>
                <div>
                    <p>{related_teaser}</p>
                </div>
            </div>
          </div>
          {/related}
        </div>
      </div>
    </div>
  </div>
</div>