{list_news}
  <!-- <div class="media media-latest"> -->
    <!-- <div class="media-left"> -->
      <!-- <div class="thumbnail-amcham thumb-latest">{show_img}</div> -->
    <!-- </div> -->
    <!-- <div class="media-body"> -->
      <!-- <div class="widget-white"> -->
        <div class="widget-white widget-blue-left media-latest mb15">
          <div class="event-type">{cat}  |  {publish_date}</div> <!-- Sep 29, 2017 -->
          <div class="title-event-list"><a href="{base_url}{lang}/{module}{uri_path_detail}">{name}</a></div>
          <p>{description}</p>
        </div>
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
{/list_news}
<div class="text-center mt15 {dsp_load_more} " id="load-more-search"><span href="{base_url}{lang}/search/more/{paging}" class="load-moree tangan" nojs="true">Load More </span></div>