<div class="other-interviewlist">
  <div class="title-other-interlist">{lang_related_issue}</div>
  {list_data_related}
    <div class="frame-slider-choice other-interlist">
      <div class="thumb-slider-choice"><a href="{base_url}{lang}/{uri2}/{detail_url}/{uri_path}">{img}</a></div>
      <div class="title-news-slider-choice">
        <h4 style="font-weight: bold;">{category}</h4>
        <a href="{base_url}{lang}/{uri2}/{detail_url}/{uri_path}">{news_title}</a>
      </div>
    </div>
  {/list_data_related}
</div>