{data}
<table align="left" border="0" cellpadding="1" cellspacing="1" style="width:700px;">
	<tbody>
		<tr {dsp_account_number}>
			<td style="width: 174px;">Account Number</td>
			<td>{account_number}</td>
		</tr>
		<tr {dsp_account_name}>
			<td>Account Name</td>
			<td>{account_name}</td>
		</tr>
		<tr {dsp_bank_name}>
			<td>Bank Name</td>
			<td>{bank_name}</td>
		</tr>
		<tr {dsp_bank_address}>
			<td>Bank Address</td>
			<td>{bank_address}</td>
		</tr>
		<tr {dsp_bank_key}>
			<td>Bank Key</td>
			<td>{bank_key}</td>
		</tr>
		<tr {dsp_swift_code}>
			<td>Swift Code</td>
			<td>{swift_code}</td>
		</tr>
	</tbody>
</table>
<!-- <p>&nbsp;</p> -->
<!--<p>{or}</p>-->
<!-- <p>&nbsp;</p> -->
{/data}