<div style="float:right;" id="lang">
{list_language}
</div>
<div>
<nav id="primary_nav_wrap">
<ul>
{header_menu}
</ul>

<form action="{base_url}{lang}/search/">
	<input type="text" placeholder="{lang_search}..." name="q"> <input type="submit" value="{lang_go}">
</form>
<hr>
</nav>
</div>
{content}

<style type="text/css">
  #lang li{display: width:100px;display: inline-block;border: 1px solid #ddeeff;padding:5px;margin-right: 2px;background-color: #ddeeff; }
  #primary_nav_wrap li a{text-decoration: none; font-family: Calibri;color: #000;}
  #primary_nav_wrap li a:hover{color:#ccc;}
  #primary_nav_wrap li.active{background-color: #dddddd }
  #primary_nav_wrap li.active a{color: #969292}
  #primary_nav_wrap li.active a:hover{color:##efe9e9 !important;}
  #primary_nav_wrap ul{margin:0; background-color: #ddeeff;}
  .hidden {display: none;}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
.tags{background-color: #ccc;color: #000;text-decoration: none;padding:5px;}
.tags:hover{color:#fff;}
</style>



<li role="presentation"><a href="index.html">Home</a></li>
                <li role="presentation"><a href="about-us.html">About Us</a>
                  <ul class="nav nav-tabs menus">
                    <li role="presentation"><a href="about-ksi.html">About KSI</a></li>
                    <li role="presentation"><a href="grants-information.html">Grants Information</a></li>
                    <li role="presentation"><a href="KSI-partners.html">KSI Partners</a></li>
                  </ul>
                </li>
                <li role="presentation"><a href="ksi-highlights.html">KSI Highlights</a>
                  <ul class="nav nav-tabs menus">
                    <li role="presentation"><a href="news-update.html">News Update</a></li>
                    <li role="presentation"><a href="partner-update.html">Partner Update</a></li>
                    <li role="presentation"><a href="knowledge-sector-interview.html">Knowledge Sector Interview</a></li>
                  </ul>
                </li>
                <li role="presentation"><a href="publications.html">Publications</a>
                  <ul class="nav nav-tabs menus">
                    <li role="presentation"><a href="working-paper.html">Working Paper</a></li>
                    <li role="presentation"><a href="stories-of-change .html">Stories of Change</a></li>
                    <li role="presentation"><a href="diagnostic-studies-on-the-knowledge-sector.html">Diagnostic Studies on the Knowledge Sector</a></li>
                    <li role="presentation"><a href="episode-studies.html">Episode Studies</a></li>
                  </ul>
                </li>
                <li role="presentation"><a href="events.html">Events</a>
                  <ul class="nav nav-tabs menus">
                    <li role="presentation"><a href="knowledge-sharing-session.html">Knowledge Sharing Session</a></li>
                    <li role="presentation"><a href="conferences.html">Conferences</a></li>
                    <li role="presentation"><a href="partner-meetings.html">Partner Meeting</a></li>
                    <li role="presentation"><a href="workshop.html">Workshop</a></li>
                  </ul>
                </li>
                <li role="presentation"><a href="media.html">Media</a>
                  <ul class="nav nav-tabs menus">
                    <li role="presentation"><a href="photo-gallery.html">Photo Gallery</a></li>
                    <li role="presentation"><a href="video-gallery.html">Video Gallery</a></li>
                    <li role="presentation"><a href="press-release.html">Press Release</a></li>
                    <li role="presentation"><a href="fact-sheet.html">Fact Sheet</a></li>
                    <li role="presentation"><a href="infographic.html">Infographic</a></li>
                    <li role="presentation"><a href="others-publications.html">Others Publications</a></li>
                  </ul>
                </li>
                <li role="presentation"><a href="contact-us.html">Contact Us</a></li>