<!-- <meta property="og:url"           content="{full_url}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{seo_title}" />
<meta property="og:description"   content="{teaser}" />
<meta property="og:image"         content="{img_og}" /> -->

<!-- meta fb og start -->
<meta property="og:url" content="{full_url}" />
<meta property="og:type" content="article" /> 
<meta property="og:title" content="{head_title}" />
<meta property="og:image:type" content="image/jpeg"> 
<meta property="og:image" content="{meta_img}" />
<meta property="og:site_name" content="MJM" />
<meta property="og:description" content='{meta_description}' />
<!-- meta fb og end -->

<!-- meta twitter og start -->
<meta content="{head_title} | ‎@AmChamIndonesia" data-page-subject="true" name="twitter:title" />
<meta content='{meta_description}' data-page-subject="true" name="twitter:description" />
<meta content="{meta_img}" data-page-subject="true" name="twitter:image" />
<meta content="‎@AmChamIndonesia" data-page-subject="true" name="twitter:site" />
<meta content="{full_url}" data-page-subject="true" name="twitter:url" />
<meta content="‎@AmChamIndonesia" data-page-subject="true" name="twitter:creator" />
<meta content="summary_large_image" data-page-subject="true" name="twitter:card" />
<meta content="560" data-page-subject="true" name="twitter:image:width" />
<meta content="750" data-page-subject="true" name="twitter:image:height" />
<!-- meta twitter og end -->