 <div class="container-fluid cf-widget-latest-feed">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-12 mb30">
        <div class="title-latest"><img src="{base_url}asset/images/tw-footer.png">{lang_latest_tweets}</div>
        <div class="latest-tweets">{feed_twitter}</div>
      </div>
      <div class="col-sm-4 col-md-4 col-xs-12 mb30">
        <div class="title-latest"><img src="{base_url}asset/images/video-footer.png">{lang_latest_video}</div>
        {feed_latest_video}
      </div>
      <div class="col-sm-4 col-md-4 col-xs-12 mb30">
        <div class="title-latest"><img src="{base_url}asset/images/join-footer.png">{lang_latest_join_with_us}</div>
        <div class="join-footer">
          <p>{lang_member_teaser}</p>
          <a href="{lang_link_join_chamber}" class="btn-red">{lang_join_chamber}</a>
          <hr>
          <a href="{lang_link_see_chamber}" class="btn-red">{lang_see_chamber}</a>
        </div>
      </div>
    </div>
  </div>
</div>