<div class="container-fluid cf-mw">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12 p0">
        <!-- {iframe} -->
       <!-- <div class="slider-index"> -->
      <div class="slider-index">
        <div class="owl-carousel owl-theme" id="slider-index">
         {home_slider}
           <div class="item">
              {content}
              <div class="feature-number {dsp_slideshow_description}">
                {slideshow_description}
              </div>
           </div>          
         {/home_slider}
        </div>
     </div>
    </div>
  </div>
</div>