<table class="table table-striped table-bordered table-hover">
<thead>
		<tr>
			<th class="center" width="28"  >No</th>
			<th class="center" width="150" >Full Name</th>
			<th class="center" width="90"  >Mr/Ms/etc</th>
			<th class="center" width="80"  >Job Title</th>
			<th class="center" width="230" >Email</th>
			<th class="center" width="80"  >Telephone Number</th>
			<th class="center" width="100" >Active Invoice Number</th>
			<th class="center" width="100" >Status</th>
			<th class="center" width="100" >Membership Code</th>
			<th class="center" width="100" >Category</th>
			<th class="center" width="200" >Company Name </th>
			<th class="center" width="200" >Subsidiary of</th>
			<th class="center" width="200" >Company Address</th>
			<th class="center" width="100" >City</th>
			<th class="center" width="100" >Postal Code</th>
			<th class="center" width="100" >Company Headquarters (country / state)</th>
			<th class="center" width="100" >Website</th>
			<th class="center" width="100" >Company Telephone Number</th>
			<th class="center" width="100" >Information not available for Public</th>
		</tr>
	</thead>
	<tbody>
		{data}
			<tr style="max-height: 50px;">
				<td class="center">{nomor}</td>
				<td class="teaser" style="max-width:125px;">{name}</td>
				<td class="teaser" style="max-width:125px;">{prefix_name}</td>
				<td class="teaser" style="max-width:125px;">{job}</td>
				<td class="teaser" style="max-width:125px;">{email}</td>
				<td class="teaser" style="max-width:125px;">{t_number}</td>
				<td class="teaser" style="max-width:125px;">{invoice_number}</td>
				<td class="teaser" style="max-width:125px;">{status}</td>
				<td class="teaser" style="max-width:125px;">{membership_code}</td>
				<td class="teaser" style="max-width:125px;">{category}</td>
				<td class="teaser" style="max-width:125px;">{company_name}</td>
				<td class="teaser" style="max-width:125px;">{subsidiary}</td>
				<td class="teaser" style="max-width:125px;">{company_address}</td>
				<td class="teaser" style="max-width:125px;">{city}</td>
				<td class="teaser" style="max-width:125px;">{postal_code}</td>
				<td class="teaser" style="max-width:125px;">{headquarters}</td>
				<td class="teaser" style="max-width:125px;">{website}</td>
				<td class="teaser" style="max-width:125px;">{t_number_company}</td>
				<td class="teaser" style="max-width:125px;">{is_invis}</td>
				
			</tr>
		{/data}
	</tbody>
</table>