<!-- office exceute member -->

{row}
<div class="widget-white p15 mb15">
    <div class="row">
        {col}
        <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="media media-cochair">
                <div class="media-left">
                    <div class="thumnail-amcham thumb-cochair {has_desc_class}">
                        <img src="{img}" style="width: 145px; height: 193px;">
                    </div>
                </div>

                <div class="media-body">
                    <h3 class="title-cochair {has_desc_class}" detail="{description}">{name}</h3>
                    <p>{position}</p>
                    <p class="desc-cochair">{teaser}<a href="#" class="{has_desc_class_btn}"> more..</a></p>
                </div>
            </div>
        </div>
        {/col}
    </div>
</div>
{/row}

<!-- office exceute member -->