<p>AmCham Indonesia is a voluntary organization of professionals with commercial activities in Indonesia. Its central mission is to promote US-Indonesia commercial relations and to serve its members as a key resource for information and business networking. First formed in 1971 as a committee, AmCham Indonesia has grown to hundreds of members representing more than 250 companies.</p>

<h3 class="red-content mt30 mb30">AmCham Indonesia represents and promotes US business interests and values. <span>( AmCham Mission )</span></h3>

<h3 class="red-content mb30">The highest degree of professional ethics and personal integrity; Innovation and excellence in execution; Transparency, good governance, and respect for the rule of law; and Responsibility towards the individual, society, and the environment. <span>( AmCham Values )</span></h3>

<p>And by 2015, AmCham Indonesia aims to become the advocate of choice for its members&#39; business interests, applying a unique capability that provides access to primary avenues of influence for policy and regulatory issues in Indonesia.</p>

<hr class="line-content" />
<h4 class="title-content">AmCham Structure</h4>

<p>The AmCham Indonesia organizational structure consists of Officers, Board of Governors, Coordinators, Committee Chairs , a secretariat with an Executive Director and the AmCham Indonesia Executive Office associate positions. The Board of Governors is elected by the membership.</p>

<p>AmCham Indonesia maintains 11 committees, issues several publications including a magazine, conducts a well-regarded survey of investor attitudes, hosts prominent Indonesian and American guest speakers and provides briefings for potential investors. AmCham Indonesia also meets with prominent US and Indonesian government officials to promote American-Indonesian business interests.</p>
