<div class="form-login">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12"><div class="title-event-list">Welcome AmCham Members!</div></div>
    <div class="col-sm-12 col-md-5 col-xs-12">
      <form action='{base_url}{lang}/member/login' id='form1' method="POST">
        <input type="text" class="form-control input-amcham" name="username" placeholder="Username" data-parsley-required>
        <input type="password" class="form-control input-amcham" name="password" placeholder="Password" data-parsley-required>
        <div class="media mt5">
          <div class="media-body media-middle">
            <div class="checkbox checkbox-amcham">
              <label>
                <input type="checkbox" name="remember_me"> Remember me 
              </label>
            </div>
          </div>
          <div class="media-right media-middle"><button class="btn-red btn-red-login" onClick="formclick()">Log in</button></div>
        </div>
      </form>
    </div>
    <div class="col-sm-12 col-md-7 col-xs-12 intro-login">
      Your username is the email address you have registered with AmCham Indonesia.<br>
      Your password is your AmCham Indonesia member ID.<br><br>
      Forgot your password?<br>
      Contact the office at 526-2860 M-F 08:00 - 17:00 for assistance.
    </div>
  </div>
</div>
<p>AmCham Indonesia is a voluntary organization of professionals with commercials activities in Indonesia. Its central mission is to promote U.S.-Indonesia commercial relations and to serve its members as a key resource for information and business networking. First formed in 1971 as a committee, AmCham Indonesia has grown to hundreds of members representing more than 250 companies</p>
<p>By becoming a member of AmCham Indonesia, you benefit from business intelligence from leaders of the Indonesia business community, promotion of your firm, networking, access to business and political leaders, social activities and issue advocacy.</p>
<hr class="line-content mt50 mb50">
<h4 class="title-content">Membership Benefits</h4>
<ul>
  <li>Direct notification of all AmCham meetings and events</li>
  <li>Direct delivery of bi-weekly AmCham newsletter</li>
  <li>Members-only access to the online directory and committee resources, such a presentations and minutes</li>
  <li>Business and social networks in Jakarta, the Asia Pacific region, and the US.</li>
  <li>Priority booking for the Annual Thanksgiving Day Golf Tournament</li>
  <li>Opportunity to participate in AmCham Committees and working groups</li>
  <li>Special member rate admission to AmCham events</li>
  <li>Opportunities for engagement with the US Government representatives in Indonesia and visiting delegations</li>
  <li>The annual directory, a critical resource for doing business in Indonesia</li>
  <li>Special discounts at participating business in the AmCham Privileges Program</li>
</ul>
<hr class="line-content mt50 mb50">
<h4 class="title-content">Membership Categories</h4>
<div class="widget-white mb15 p20">
  <div class="title-event-list">General ( Company )</div>
  <p>This category is open to companies and not-for-profit entities with US business interests; this includes:</p>
  <ul>
    <li>Companies with international headquarters in the US or are traded in US stock markets and with business interests in Indonesia;</li>
    <li>Companies in Indonesia that import American products as a significant part of their business;</li>
    <li>Companies in Indonesia that export products to America as a significant part of their business;</li>
    <li>Companies and organizations that provide goods and services to US companies and citizens in Indonesia</li>
    <li>Overseas companies that have business interests in Indonesia</li>
  </ul>
  <p>Each COR member would have a designated representative, who shall be the primary contact for the company and who receives the COR ballot.</p>
  <div class="media mt30">
    <div class="media-left media-middle"><a href="{lang}/member/register/company" class="btn-red btn-link-price">Join The Chamber</a></div>
    <div class="media-body media-middle text-right"><span class="price-member">IDR 1.000.000 <i>/year</i></span></div>
  </div>
</div>
<div class="widget-white mb15 p20">
  <div class="title-event-list">General ( Individual )</div>
  <p>This category is open to all individuals of US citizenship resident in Indonesia who do not qualify for COR membership as defined under Company Representative above.</p>
  <div class="media mt30">
    <div class="media-left media-middle"><a href="{lang}/member/register/individual" class="btn-red btn-link-price">Join The Chamber</a></div>
    <div class="media-body media-middle text-right"><span class="price-member">IDR 500.000 <i>/year</i></span></div>
  </div>
</div>
<div class="widget-white p20">
  <div class="title-event-list">Platinum & Premium Member</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim v eniam laboris nisiconsequat.</p>
  <div class="media mt30">
    <div class="media-left media-middle"><a href="{lang}/pages/platinum-premium-member" class="btn-red btn-link-price">Click Here To Join</a></div>
    <div class="media-body media-middle text-right"></div>
  </div>
</div>
<hr class="line-content mt50 mb50">
<h4 class="title-content">Membership Privileges Program</h4>
<p>In addition to the great discounts, we are pleased to bring you some great promotions and events from our participating businesses (see the list of category) - remember to present your AmCham Indonesia membership card to let the participating businesses know how much the AmCham Community appreciates their support! This page will be updated constantly, so be sure to check back for updates.</p>
<a href="{lang}/pages/member-privileges" class="btn-red btn-link-price">See All Privileges</a>

<hr class="line-content mt50 mb50">

<h4 class="title-content">Member Directory</h4>
<a href="{lang}/pages/directory" class="btn-red btn-link-price">See All Members</a>