<h4 class="title-content">Membership Privileges Program</h4>
<h3 class="red-content mt30 mb30">AmCham Indonesia is very pleased to bring you the AmCham Indonesia Privileges Program!</h3>
<p>In addition to the great discounts, we are pleased to bring you some great promotions and events from our participating businesses (see the list of category) - remember to present your AmCham Indonesia membership card to let the participating businesses know how much the AmCham Community appreciates their support! This page will be updated constantly, so be sure to check back for updates</p>
<p>** If you are a business interested in participating, contact astari.sutjiningtyas@amcham.or.id to get info on our promotions schedule for 2018.</p>
<div class="panel-group pg-amcham mt50" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Consulting and Training
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="widget-white pt30 pb0 mb30">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12 text-right">
              <div class="thumbnail-amcham thumb-product"><img src="images/logo-company.jpg"></div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
              <div class="title-event-list">Konexindo Unitama, PT.</div>
              <div class="media media-listmember">
                <div class="media-left">
                  <div class="icon-listmember il-dtlpart"><img src="images/maps.png"></div>
                </div>
                <div class="media-body">Jl. Tanjung Selor 1B, jakarta, Indonesia 101150</div>
              </div>
              <div class="media media-listmember">
                <div class="media-left">
                  <div class="icon-listmember il-dtlpart"><img src="images/phone.png"></div>
                </div>
                <div class="media-body">+62 21 6386 0923</div>
              </div>
              <div class="media media-listmember">
                <div class="media-left">
                  <div class="icon-listmember il-dtlpart"><img src="images/envalop.png"></div>
                </div>
                <div class="media-body">marketing@konexindo.co.id</div>
              </div>
              <div class="media media-listmember">
                <div class="media-left">
                  <div class="icon-listmember il-dtlpart"><img src="images/link-website.png"></div>
                </div>
                <div class="media-body">www.konexindo.co.id</div>
              </div>
            </div>
          </div>
          <hr class="line-content">
          <p>* 15% off all data center review and consulting services</p>
          <p>* 15% off all AGILE and PMBOK project management training</p>
          <span class="valid-date">Valid until 31 December 2018</span>
        </div>
        <div class="widget-white pt30 pb0 mb30">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12 text-right">
              <div class="thumbnail-amcham thumb-product"><img src="images/logo-company.jpg"></div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
              <div class="title-event-list">Outward Bound Indonesia</div>
              <div class="media media-listmember">
                <div class="media-left">
                  <div class="icon-listmember il-dtlpart"><img src="images/maps.png"></div>
                </div>
                <div class="media-body">Jl. Kemanggisan Utama III No. 14</div>
              </div>
              <div class="media media-listmember">
                <div class="media-left">
                  <div class="icon-listmember il-dtlpart"><img src="images/phone.png"></div>
                </div>
                <div class="media-body">+62 21 548 1529</div>
              </div>
              <div class="media media-listmember">
                <div class="media-left">
                  <div class="icon-listmember il-dtlpart"><img src="images/envalop.png"></div>
                </div>
                <div class="media-body">info@outwardboundindo.org</div>
              </div>
              <div class="media media-listmember">
                <div class="media-left">
                  <div class="icon-listmember il-dtlpart"><img src="images/link-website.png"></div>
                </div>
                <div class="media-body">www.OutwardBoundIndo.org</div>
              </div>
            </div>
          </div>
          <hr class="line-content">
          <p>Team Development Program : 20% off before VAT (min. 14 participants)</p>
          <p>* Power Teen Camp & Expedition : 20% off before VAT (teenagers age 12-17)</p>
          <p>Dates:<br># 12-17 June<br># 21-23 September<br># 18-20 December</p>
          <p>* Leadership Program - Effective & Empowered Supervisory Program : 15% off before VAT (open for Public)</p>
          <p>Dates:<br># 14-17 March<br># 11-14 July<br># 5-8 September<br># 5-8 December</p>
          <p>* Adversity Mastery Program : 10% before VAT</p>
          <p>Terms & Conditions<br>Cannot be combine with other promotions or discounts</p>
          <span class="valid-date">Valid until 31 December 2018</span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Financial Services
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Leisure & Beauty
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Office Product
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Travel & Hospitality
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Wine and Dine
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>