{data}
	<tr>
		<td class="center">{nomor}</td>
		<td>{name}</td>
		<td class="center" style="text-align:center;">{status_lang}</td>
		<td class="center">
			<!-- <a href="{this_controller}view/{id}" title="View Detail" class="fa fa-search action-form-icon"></a> -->
			<a href="{this_controller}add/{id}" title="Edit Data" class="fa fa-pencil-square-o tangan action-form-icon"></a>
			<a title="Delete Data" class="fa fa-trash-o tangan hapus action-form-icon" id='{id}' data-url-rm='del'></a>
		</td>
		
	</tr>
{/data}
<tr class="footer">
	<td colspan="10">{paging}</td>
</tr>

<script type="text/javascript">
	$(document).ready(function(){
		$(".chg_stat").click(function(){
			var id_lang 	= $(this).attr('data-lang');
			var url 		= "{this_controller}change_stat";
			
			$.post(
				url,
				{data: id_lang},
				function(){
					location.reload();
				}
			);
		});
	});
</script>