<h1 class="page-header">Preview</h1>
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
			    <div class="panel-heading-btn">
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
			    </div>
			    <h4 class="panel-title">{page_name}</h4>
			</div>
			<div class="panel-body">
				<div class="col-sm-12 col-lg-12 col-md-12">
					<div class="row-fluid"> 
						<span class='col-sm-12'>
							<div class='text-right'>
								<a class="btn btn-warning" href="{this_controller}"><i class="fa fa-arrow-left"></i> Back</a>
								<a class="btn btn-primary" href="{this_controller}add/{id}"><i class="fa fa-pencil-square-o tangan"></i> Edit</a>
							</div>
						</span>
					</div>
					<hr>
					<!-- <div class='row-fluid'>
						<div class="judul">{page_name}</div>
						<br>
						<img src='{img}' style="border:1px solid #BCBCBC;">
						{teaser}
					 -->
					 <br>
					<div class="content-list">
						<div class="judul">TEASER : {page_name}</div>
						<hr>
						<div class="row-fluid">
						      <div class="col-sm-12">
								<img src="{img_thumb}" class="thumb" />
							      {teaser}
						      </div>
						</div>
						
						<br><br>
						<div class="content-list">
							<div class="judul">DETAIL : {page_name}</div>
							<hr>
							<div class="row-fluid">
							      <div class="col-sm-12">
									<img src="{img_ori}" class="thumb" style="max-width:800px" />
								      {page_content}
							      </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>