{data}
	<tr>
		<td class="center">{nomor}</td>
		<!-- <td class="teaser" style="max-width:125px;" title="{topic}">{topic}</td> -->
		<td class="teaser" style="max-width:125px;" title="{fullname}">{fullname}</td>
		<!-- <td>{hp}</td> -->
		<td>{phone}</td>
		<td class="teaser" style="max-width:125px;" title="{email}">{email}</td>
		<!-- <td class="teaser" style="max-width:125px;" title="{city}">{city}</td> -->
		<td class="teaser" style="max-width:150px;" title="{komentar}">{komentar}</td>
		<td class="center">
			<a  title="View Detail" class="tangan fa fa-search detail-hubungi-kami action-form-icon" data-id="{id}"></a>
		</td>
		
	</tr>
{/data}
<tr class="footer">
	<td colspan="10">{paging}</td>
</tr>