<section class="bg-blue-title">
    <div class="container text-center">
        <h3 class="wow fadeInUp"><b><span class="text-blue">Client Area</span> Registration Form</b></h3>
        <p class="wow fadeInUp"><i>We’ll Never Share Your Data With Anyone Else</i></p>
    </div>
</section>

<section class="form-client">
    <div class="container">
        <div class="row row-fc">
            <div class="col-md-6 mb-5 col-fc wow fadeInUp">
                <label for="">NAME</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6 mb-5 col-fc wow fadeInUp">
                <label for="">EMAIL</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6 mb-5 col-fc wow fadeInUp">
                <label for="">COMPANY NAME</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6 mb-5 col-fc wow fadeInUp">
                <label for="">PHONE NUMBER</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row row-fc">
            <div class="col-md-6 mb-5 col-fc wow fadeInUp">
                <label for="">PRODUCT CATEGORY</label>
                <div>
                    <div class="form-check form-check-inline me-5">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                      <label class="form-check-label" for="inlineCheckbox1">PKRT (Household)</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                      <label class="form-check-label" for="inlineCheckbox2">Alat Kesehatan (Medical Device)</label>
                    </div>
                </div>	
            </div>
            <div class="col-md-6 mb-5 col-fc wow fadeInUp">
                <label for="">TYPES OF PRODUCTS</label>
                <div>
                    <div class="form-check form-check-inline me-5">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">OEM</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">ODM</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-fc">
            <div class="col-md-12 mb-5 col-fc wow fadeInUp">
                <label for="">MESSAGE</label>
                <textarea class="form-control" rows="5"></textarea>
            </div>
            <div class="col-md-12 mb-5 col-fc text-center wow fadeInUp">
                <button class="btn btn-blue m-auto px-5">SEND MESSAGE</button>
            </div>
        </div>
    </div>
</section>