{data}
	<tr>
		<td class="center">{nomor}</td>
		<td><div class="teaser" style="max-width:250px" title="{news_title}">{news_title}</div></td>
		<td><div class="teaser" style="width:150px;" title="{uri_path}">{uri_path}</div></td>
		<td class="center">{create_date}</td>
		<td>{note}</td>
		<td class="center">
			<a title="View Detail" class="fa fa-search view-detail tangan" data-id='{id}'>view</a>
		</td>
		
	</tr>
{/data}
<!-- <tr class="footer">
	<td colspan="10">{paging}</td>
</tr> -->